# <b><span style='color:#0B2F9F'>Pengantar</span></b>

Dalam analisis data, penting untuk mampu menyaring dan merangkum informasi agar hasil yang diperoleh benar-benar sesuai dengan tujuan yang ingin dicapai. Dengan kemampuan menyaring data, seorang analis dapat fokus hanya pada informasi yang relevan, sementara proses merangkum membantu melihat gambaran besar dari data yang ada. Kedua langkah ini memungkinkan data yang semula rumit menjadi lebih sederhana, terarah, dan bermakna. Dengan memahami cara memilih dan mengelompokkan informasi secara tepat, analis dapat bekerja lebih efisien dalam menemukan pola, menjawab pertanyaan penting, dan menyajikan kesimpulan yang akurat.

# <b><span style='color:#0B2F9F'>Set up</span></b>

Dibutuhkan proses autentikasi dari Google Colab ke Google Big Query. Ikuti langkah berikut https://drive.google.com/file/d/1gW8alZ_PrvcrsieqWCHOR4ssLI_25BRc/view untuk detail step-by-step nya

In [ ]:
# Import library yang dibutuhkan
from google.colab import auth, data_table
from google.cloud import bigquery
from pandas_gbq import to_gbq

# Proses autentikasi akun
auth.authenticate_user()
print('Authenticated')

In [ ]:
# Buat BigQuery client
project_id = 'project2025-480410'
client = bigquery.Client(project = project_id)

<a id="A"></a>
# <b>A. <span style='color:#0B2F9F'><code>WHERE</code></span></b>

Klausa `WHERE` dalam SQL digunakan untuk menyaring baris data dalam query berdasarkan kondisi tertentu. Cara ini digunakan untuk menentukan kriteria yang harus dipenuhi agar baris data muncul dalam hasil query. Perintah `WHERE` dapat digunakan untuk menyaring nilai :

<ul>
<li>Berdasarkan Kondisi Tertentu</li>
<li>Berdasarkan Beberapa Kondisi</li>
<li>Menggunakan Pola Pencocokan</li>
<li>Menggunakan Rentang Nilai</li>
<li>Berdasarkan Kumpulan Nilai</li>
<li>Berdasarkan Nilai Null</li>
</ul>

<a id="A.1."></a>
## <b>A.1. <span style='color:#0B2F9F'>Menyaring Nilai Berdasarkan Kondisi Tertentu</span></b>

Untuk melakukan penyaringan nilai berdasarkan kondisi tertentu dapat menggunakan <b>Comparison Operators</b>. Operator perbandingan (<i>comparison operators</i>) dalam SQL digunakan untuk membandingkan nilai-nilai dan menentukan bagaimana data memenuhi kondisi tertentu. Operator pembanding pada SQL disimbolkan dengan beberapa tanda berikut
<br><br>
<table border="1">
    <tr>
        <th>Tanda</th>
        <th>Deskripsi</th>
        <th>Contoh</th>
    </tr>
    <tr>
        <td>=</td>
        <td>Sama dengan (<i>Equals</i>)</td>
        <td>A = B</td>
    </tr>
    <tr>
        <td><></td>
        <td>Tidak Sama dengan (<i>Not Equals</i>)</td>
        <td>A <> B</td>
    </tr>
    <tr>
        <td><</td>
        <td>Kurang dari (<i>Less than</i>)</td>
        <td>A < B</td>
    </tr>
    <tr>
        <td>></td>
        <td>Lebih dari (<i>More than</i>)</td>
        <td>A > B</td>
    </tr>
    <tr>
        <td><=</td>
        <td>Kurang dari sama dengan (<i>Less than or Equals To</i>)</td>
        <td>A <= B</td>
    </tr>
    <tr>
        <td>>=</td>
        <td>Lebih dari sama dengan (<i>More than or Equals To</i>)</td>
        <td>A >= B</td>
    </tr>
</table>

<br>Kemudian gunakan operator pembanding tersebut kedalam sebuah kondisi <br><br>
<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL%20-%20Where%201.png" width="45%">

#### <i><b><span style='color:#55679C'>Quest</span> : Manajemen menemukan fakta bahwa tanggal 27 November 2024 merupakan tanggal terbanyak pelanggan mengajukan komplain ke DQPizza. Tampilkan semua data di tabel orders pada tanggal tersebut!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT*FROM `project2025-480410.ev_pizza1.orders`
WHERE order_date = '11/27/2024'

#### <i><b><span style='color:#55679C'>Quest</span> : Manajemen menduga bahwa komplain sering terjadi pada saat dinner (asumsikan dinner mulai jam 6 p.m.), tampilkan data transaksi di table orders untuk kolom order_id, customer_id, order_date, order_time, is_complain saja </b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT
  order_id,
  customer_id,
  order_date,
  order_time,
  is_complain
FROM `project2025-480410.ev_pizza1.orders`
WHERE order_time >= '18.00.00'

<a id="A.2."></a>
## <b>A.2. <span style='color:#0B2F9F'>Menyaring Nilai Berdasarkan Beberapa Kondisi</span></b>

Untuk melakukan penyaringan nilai berdasarkan beberapa kondisi dapat menggunakan <b>Logical Operators</b>. Operator logika (<i>logical operator</i>) adalah simbol atau kata kunci yang digunakan untuk menghubungkan dua atau lebih ekspresi logis dan menghasilkan nilai logis baru berdasarkan operasi tersebut. Operator logika pada SQL disimbolkan dengan beberapa tanda berikut
<br><br>
<table border="1">
    <tr>
        <th>Tanda</th>
        <th>Deskripsi</th>
        <th>Kondisi</th>
        <th>Contoh</th>
    </tr>
    <tr>
        <td><b>AND</b></td>
        <td>Operator penghubung 'DAN'</td>
        <td><i>Statement</i> bernilai benar jika keduanya benar / terpenuhi,<br>jika tidak demikian maka bernilai salah</td>
        <td>Condition 1 <b>AND</b> Condition 2</td>
    </tr>
    <tr>
        <td><b>OR</b></td>
        <td>Operator penghubung 'ATAU'</td>
        <td><i>Statement</i> bernilai salah jika keduanya salah / tidak terpenuhi,<br>jika tidak demikian maka bernilai benar</td>
        <td>Condition 1 <b>OR</b> Condition 2</td>
    </tr>
    <tr>
        <td><b>NOT</b></td>
        <td>Operator 'BUKAN'</td>
        <td>Operator ini membalikkan nilai logis dari ekspresi yang dioperasikan</td>
        <td><b>NOT</b> Condition 1</td>
    </tr>
</table>
<br><br>
Saat digunakan, untuk menyaring dua atau lebih pernyataan dengan operator logika akan berlaku kriteria sebagai berikut
<br><br>
<table border="1">
    <tr>
        <th>Condition 1</th>
        <th>Condition 2</th>
        <th>Condition 1 <span style='color:#55679C'>AND</span> Condition 2</th>
        <th>Condition 1 <span style='color:#55679C'>OR</span> Condition 2</th>
    </tr>
    <tr>
        <td align = "center"><span style='color:#EEF296'>Benar</span></td>
        <td align = "center"><span style='color:#EEF296'>Benar</span></td>
        <td align = "center"><span style='color:#EEF296'>Benar</span></td>
        <td align = "center"><span style='color:#EEF296'>Benar</span></td>
    </tr>
    <tr>
        <td align = "center"><span style='color:#EEF296'>Benar</span></td>
        <td align = "center"><span style='color:#508D69'>Salah</span></td>
        <td align = "center"><span style='color:#508D69'>Salah</span></td>
        <td align = "center"><span style='color:#EEF296'>Benar</span></td>
    </tr>
    <tr>
        <td align = "center"><span style='color:#508D69'>Salah</span></td>
        <td align = "center"><span style='color:#EEF296'>Benar</span></td>
        <td align = "center"><span style='color:#508D69'>Salah</span></td>
        <td align = "center"><span style='color:#EEF296'>Benar</span></td>
    </tr>
    <tr>
        <td align = "center"><span style='color:#508D69'>Salah</span></td>
        <td align = "center"><span style='color:#508D69'>Salah</span></td>
        <td align = "center"><span style='color:#508D69'>Salah</span></td>
        <td align = "center"><span style='color:#508D69'>Salah</span></td>
    </tr>
</table>

Saat query dijalankan, hanya output yang bernilai benar saja yang akan ditampilkan.

<br>Kemudian gunakan operator pembanding tersebut kedalam sebuah kondisi <br><br>
<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL%20-%20Where%202.png" width="45%">

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan semua data transaksi yang di komplain pada tabel orders pada tanggal 27 November 2024 </b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT * FROM `project2025-480410.ev_pizza1.orders`
WHERE
  order_date = '11/27/2024'
  AND is_complain = 1

#### <i><b><span style='color:#55679C'>Quest</span> : Sepertinya komplain yang paling banyak terjadi di tanggal 27 November 2024 adalah pizza yang kegosongan atau topping yang kelupaan. Coba tampilkan data dengan kategori yang disebutkan lalu urutkan berdasarkan jam pemesanan!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT * FROM `project2025-480410.ev_pizza1.orders`
WHERE
  order_date = '11/27/2024'
  AND is_complain = 1
  AND (complain_detail = 'Pizza was burnt' OR complain_detail = 'Missing toppings')
ORDER BY order_time ASC

<a id="A.3."></a>
## <b>A.3. <span style='color:#0B2F9F'>Menyaring Nilai Menggunakan Pola Pencocokan</span></b>

SQL telah mendukung operator dan fungsi yang memungkinkan untuk melakukan pencocokan pola pada sebuah teks. Untuk melakukan hal ini dapat menggunakan query `LIKE` dengan bantuan tanda <b>Wildcard (%)</b>. Tanda <b>Wildcard (%)</b>. Wildcard memungkinkan untuk mencari data dengan pola yang tidak pasti atau variatif pada sebuah teks. Contoh :

Sebuah data karyawan memiliki kolom nama, terdapat nama Ilham, Kurnia, Bachtiyar, Baim, Ridho dan Deki
<ul>
    <li>Untuk mencari nama yang diawali huruf B, gunakan sintaks <code>WHERE nama LIKE 'B%'</code>.<br>Nama yang cocok : Bachtiyar & Baim</li><br>
    <li>Untuk mencari nama yang diakhiri dengan huruf m, gunakan sintaks <code>WHERE nama LIKE '%m'</code>.<br>Nama yang cocok : Ilham & Baim</li><br>
    <li>Untuk mencari nama yang diawali huruf B namun diakhiri dengan m, gunakan sintaks <code>WHERE nama LIKE 'B%m'</code>.<br>Nama yang cocok : Baim</li>
</ul>

<br>Kemudian gunakan pola pencocokan tersebut kedalam sebuah kondisi <br><br>
<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL%20-%20Where%203.png" width="45%">

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan semua nama menu pizza yang mengandung bayam!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT * FROM `project2025-480410.ev_pizza1.pizza_types`
WHERE ingredients
  LIKE '%Spinach%'

<a id="A.4."></a>
## <b>A.4. <span style='color:#0B2F9F'>Menyaring Nilai Menggunakan Rentang Nilai</span></b>

Selain menggunakan operator pembanding, dapat juga menggunakan query `BETWEEN` untuk mendapatkan nilai pada rentang tertentu. Untuk menyingkat penulisan <code>nilai1 <= nama_kolom AND nama_kolom <= nilai2</code> dapat menggunakan alternatif <code>nama_kolom BETWEEN nilai1 AND nilai2</code>
<br><br>
<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL%20-%20Where%205.png" width="45%">

#### <i><b><span style='color:#55679C'>Quest</span> : Manajemen membutuhkan seluruh data transaksi pada bulan November 2024 untuk dievaluasi. Agar memudahkan proses evaluasi, urutkan berdasarkan tanggal dan waktu transaksi</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT * FROM `project2025-480410.ev_pizza1.orders`
WHERE order_date
  BETWEEN '11/01/2024' AND '11/30/2024'
ORDER BY order_date ASC, order_time ASC

<a id="A.5."></a>
## <b>A.5. <span style='color:#0B2F9F'>Menyaring Nilai Berdasarkan Kumpulan Nilai</span></b>

Untuk melakukan penyaringan nilai berdasarkan kumpulan nilai dapat menggunakan <b>Operator Keanggotaan</b>. Operator keanggotaan (<i>membership operators</i>) dalam SQL digunakan untuk digunakan untuk memeriksa apakah suatu nilai cocok dengan nilai apa pun dalam daftar atau subkueri tertentu. Contoh penggunaan operator keanggotaan pada SQL adalah sebagai berikut :

Sebuah data karyawan memiliki kolom nama, terdapat nama Ilham, Kurnia, Bachtiyar, Baim, Ridho dan Deki
<ul>
    <li>Untuk mencari nama Ilham dan Ridho, gunakan sintaks <code>WHERE nama IN ('Ilham', 'Ridho')</code>.<br>Output : Ilham, Ridho</li><br>
    <li>Untuk mencari nama <b>SELAIN</b> Ilham dan Ridho, gunakan sintaks <code>WHERE nama NOT IN ('Ilham', 'Ridho')</code>.<br>Output : Kurnia, Bachtiyar, Baim, Deki</li>
</ul>

<br>Kemudian gunakan operator keanggotaan tersebut kedalam sebuah kondisi <br><br>
<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL%20-%20Where%204.png" width="45%">

#### <i><b><span style='color:#55679C'>Quest</span> : Manajemen perlu mengevaluasi kinerja pegawai dengan nomor pegawai EMP000437, EMP000665 dan EMP000231 terkait banyaknya komplain yang pernah terjadi. Tunjukan data transaksi di tabel orders untuk tiga pegawai tersebut namun hanya ketika mereka mendapatkan komplain!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT * FROM `project2025-480410.ev_pizza1.orders`
WHERE
  order_maker_id IN ('EMP000437', 'EMP000665', 'EMP000231')
AND is_complain = 1

#### <i><b><span style='color:#55679C'>Quest</span> : Manajemen perlu mengevaluasi kinerja pegawai dengan nomor pegawai EMP000437, EMP000665 dan EMP000231 terkait banyaknya komplain yang pernah terjadi. Tunjukan data transaksi di tabel orders untuk tiga pegawai tersebut namun hanya ketika mereka mendapatkan komplain selain tanggal 1 November 2024 atau 27 November 2024!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT * FROM `project2025-480410.ev_pizza1.orders`
WHERE
  order_maker_id IN ('EMP000437', 'EMP000665', 'EMP000231')
  AND is_complain = 1
  AND order_date NOT IN ('11/1/2024', '11/27/2024')

<a id="A.6."></a>
## <b>A.6. <span style='color:#0B2F9F'>Menyaring Nilai Berdasarkan Nilai NULL</span></b>

`NULL` adalah nilai khusus yang digunakan untuk menunjukkan bahwa data tidak tersedia, tidak diketahui, atau tidak relevan. Untuk mencari data yang NULL pada SQL gunakan perintah berikut :

<ul>
    <li>Untuk mencari data yang kosong atau NULL, gunakan sintaks <code>WHERE nama_kolom IS NULL</code></li><br>
    <li>Untuk mencari data yang tidak kosong atau NOT NULL, gunakan sintaks <code>WHERE nama_kolom IS NOT NULL</code></li><br>
</ul>

Untuk menggunakannya, eksekusi query berikut <br><br>
<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL%20-%20Where%206.png" width="45%">

#### <i><b><span style='color:#55679C'>Quest</span> : Untuk melakukan validitas data, tampilkan data pada order_details yang order_details_id kosong!</b></i>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT * FROM `project2025-480410.ev_pizza1.order_details`
WHERE
  order_details_id IS NULL

<a id="B"></a>
# <b>B. <span style='color:#0B2F9F'><code>CASE - WHEN</code></b>

`CASE` adalah sebuah ekspresi dalam SQL yang digunakan untuk melakukan logika kondisional. `CASE` sering digunakan untuk mengubah nilai yang ditampilkan dalam query berdasarkan kondisi tertentu. Untuk dapat menggunakan perintah `CASE` gunakan sintaks umum berikut

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL%20-%20Case%20When.png" width="40%">

#### <i><b><span style='color:#55679C'>Quest</span> : Manajemen perlu mengelompokkan detail komplain yang pernah terjadi sesuai kriteria berikut </b></i><br>

<table border="1">
    <tr>
        <th>Complain Type</th>
        <th>Complain Detail</th>
    </tr>
    <tr>
        <td>Order Issue</td>
        <td>Drink was missing</td>
    </tr>
    <tr>
        <td>Order Issue</td>
        <td>Wrong pizza size</td>
    </tr>
    <tr>
        <td>Order Issue</td>
        <td>Received wrong pizza</td>
    </tr>
    <tr>
        <td>Food Problem</td>
        <td>Dough undercooked</td>
    </tr>
    <tr>
        <td>Food Problem</td>
        <td>Missing toppings</td>
    </tr>
    <tr>
        <td>Food Problem</td>
        <td>Pizza was burnt</td>
    </tr>
    <tr>
        <td>Service Issue</td>
        <td>Order took too long</td>
    </tr>
    <tr>
        <td>Service Issue</td>
        <td>Rude staff at counter</td>
    </tr>
</table><br>

<b><i>Tampilkan kolom order_id, order_maker_id, order_date, complain_detail dan complain_type (kolom baru hasil pengelompokan diatas) pada tabel orders!</i></b>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT
  order_id,
  order_maker_id,
  order_date,
  complain_detail,
  CASE
    WHEN complain_detail IN ('Drink was missing', 'Wrong pizza size', 'Received wrong pizza') THEN 'Order Issue'
    WHEN complain_detail IN ('Dough undercooked', 'Missing toppings', 'Pizza was burnt') THEN 'Food Problem'
    WHEN complain_detail IN ('Order took too long', 'Rude staff at counter') THEN 'Service Issue'
      ELSE NULL
  END AS complain_type
  FROM `project2025-480410.ev_pizza1.orders`

<a id="C"></a>
# <b>C. <span style='color:#0B2F9F'><code>AGGREGATION</code></b>

Fungsi agregat atau <b>Aggregation</b> adalah fungsi yang melakukan perhitungan pada sekumpulan nilai dan mengembalikan satu nilai hasil perhitungan tersebut. Fungsi agregat SQL yang paling umum digunakan adalah:
<br><br>
<table border="1">
    <tr>
        <th>Fungsi Agregat</th>
        <th>Deskripsi</th>
    </tr>
    <tr>
        <td><b>MIN( )</b></td>
        <td>Mengembalikan <span style='color:#FFB200'>nilai terkecil</span> dalam kolom yang dipilih.</td>
    </tr>
    <tr>
        <td><b>MAX( )</b></td>
        <td>Mengembalikan <span style='color:#FFB200'>nilai terbesar</span> dalam kolom yang dipilih.</td>
    </tr>
    <tr>
        <td><b>COUNT( )</b></td>
        <td>Mengembalikan <span style='color:#FFB200'>jumlah baris</span> dalam suatu set</td>
    </tr>
    <tr>
        <td><b>SUM( )</b></td>
        <td>Mengembalikan <span style='color:#FFB200'>jumlah total</span> dari kolom numerik.</td>
    </tr>
    <tr>
        <td><b>AVG( )</b></td>
        <td>Mengembalikan <span style='color:#FFB200'>nilai rata-rata</span> dari kolom numerik.</td>
    </tr>
</table>

<br>Gunakan fungsi aggregasi tersebut dengan mengikuti sintaks <br><br>
<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL%20-%20Aggregation.png" width="45%">

#### <i><b><span style='color:#55679C'>Quest</span> : Ada berapa jumlah customer DQPizza yang telah ter-record? </b></i><br>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT
  COUNT(DISTINCT customer_id) AS jumlah_customer
FROM `project2025-480410.ev_pizza1.customers`

#### <i><b><span style='color:#55679C'>Quest</span> : Selama tahun 2024, ada berapa kali transaksi dan berapa komplain pernah terjadi? Sertakan presentasenya! </b></i><br>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT
  COUNT(order_id) AS total_transaksi,
  SUM(is_complain) AS jumlah_komplain,
  (SUM(is_complain)/COUNT(order_id))*100 AS persentase_komplain
FROM `project2025-480410.ev_pizza1.orders`

<a id="D"></a>
# <b>D. <span style='color:#0B2F9F'><code>GROUP BY</code></b>

Fungsi agregat sering digunakan bersama dengan klausa GROUP BY pada pernyataan SELECT. Klausa GROUP BY membagi hasil query menjadi beberapa kelompok nilai, dan fungsi agregat dapat digunakan untuk mengembalikan satu nilai untuk setiap kelompok.
<br><br>
Contoh simulasi perhitungannya adalah sebagai berikut :
<br><br>
<img src="https://wesmckinney.com/book/images/pda3_1001.png" width="25%" height="1%">

<br>Gunakan fungsi aggregasi dengan pengelompokan dengan mengikuti sintaks <br><br>
<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL%20-%20Group%20By.png" width="45%">

#### <i><b><span style='color:#55679C'>Quest</span> : Untuk mengetahui demografi pelanggan, hitung total pelanggan lalu kelompokan berdasarkan gender-nya! </b></i><br>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT
  gender,
  COUNT(customer_id) AS total_pelanggan
FROM `project2025-480410.ev_pizza1.customers`
GROUP BY gender

#### <i><b><span style='color:#55679C'>Quest</span> : Buatkan report mengenai customer dan juga banyaknya transaksi pada data. Tampilkan customer_id dan jumlah_transaksi-nya sertakan total_komplain jika pelanggan tersebut pernah mengajukan komplain! Urutkan berdasarkan customer_id agar lebih mudah dibaca </b></i><br>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT
  customer_id,
  COUNT(order_id) AS jumlah_transaksi,
  SUM(is_complain) AS total_komplain
FROM `project2025-480410.ev_pizza1.orders`
GROUP BY customer_id
ORDER BY customer_id ASC

#### <i><b><span style='color:#55679C'>Quest</span> : Buatkan report mengenai jenis pizza dan hitung berapa kali pizza tersebut terjual dan hitung juga banyaknya (kuantitas) pizza tersebut pernah terjual! Urutkan berdasarkan kuantitas pizza terjual terbanyak!</b></i><br>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT
  pizza_id,
  COUNT(order_details_id) AS pizza_terjual,
  SUM(quantity) AS total_kuantitas
FROM `project2025-480410.ev_pizza1.order_details`
GROUP BY pizza_id
ORDER BY total_kuantitas DESC

<a id="E"></a>
# <b>E. <span style='color:#0B2F9F'><code>HAVING</code></b>

HAVING dalam SQL digunakan untuk memfilter hasil dari kelompok data yang telah dikelompokkan dengan pernyataan GROUP BY. Mirip dengan klausa WHERE, tetapi HAVING bekerja setelah pengelompokan data dilakukan. Dengan kata lain, HAVING biasa digunakan untuk menerapkan kondisi pada hasil agregat.

<br>Gunakan fungsi having setelah pengelompokan dengan mengikuti sintaks <br><br>
<img src="https://raw.githubusercontent.com/bachtiyarma/Material/main/Image/Materi-SQL/SQL%20-%20Having.png" width="45%">

#### <i><b><span style='color:#55679C'>Quest</span> : Tampilkan order_maker_id dan jumlah komplain yang pernah didapat. Filter hanya yang mendapat komplain lebih dari 210 kali, lalu urutkan dari yang paling banyak menerima komplain hingga paling sedikit </b></i><br>

In [ ]:
%%bigquery --project {project_id} --verbose

SELECT
  order_maker_id,
  SUM(is_complain) AS total_komplain
FROM `project2025-480410.ev_pizza1.orders`
GROUP BY order_maker_id
HAVING total_komplain > 210
ORDER BY total_komplain DESC

Data Source : <i>https://mavenanalytics.io/challenges/maven-pizza-challenge</i> (dengan modifikasi)


---

<br>
<a href="https://www.linkedin.com/in/evrilsaisna/"><img src="https://img.shields.io/badge/-Â© 2025 Evrilsa Isna P.-417DAC?style=for-the-badge&logoColor=white"/></a>

<a href="https://dqlab.id/"><img src="https://dqlab.id/files/dqlab/cache/87e30118ebba5ec7d96f6ea8c9dcc10b_x_118_X_55.png" align="left" /></a>

In [ ]:
!jupyter nbconvert --ClearMetadataPreprocessor.enabled=True \
  --to notebook \
  --output cleared_notebook.ipynb \
"/content/sample_data/SQL_Conditions_&_Aggregation.ipynb"